Adafruit-Blinka==8.39.1
adafruit-blinka-bleio==4.1.2
adafruit-circuitpython-ble==10.0.7
adafruit-circuitpython-busdevice==5.2.9
adafruit-circuitpython-connectionmanager==2.0.0
adafruit-circuitpython-requests==3.2.8
adafruit-circuitpython-typing==1.10.3
Adafruit-PlatformDetect==3.62.0
Adafruit-PureIO==1.1.11
async-timeout==4.0.3
bleak==0.20.2
customtkinter==5.2.2
darkdetect==0.8.0
dbus-fast==1.95.2
packaging==24.0
pyftdi==0.55.4
pyserial==3.5
pyusb==1.2.1
typing_extensions==4.0.1
